{% extends "layout.html" %}

{% block pageTitle %}
Contact details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/v4/details">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Contact details</span>

      Back On Track Housing

      <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-3 app--tag-middle">
        Available
      </strong>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukWarningText({
      text: "The preferred contact method of this organisation is: email.",
      iconFallbackText: "Info"
    }) }}

    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          <a href="mailto:admin@backontrackhousing.co.uk">admin@backontrackhousing.co.uk</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          020 7267 7077
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          147 Brecknock Road<br/>Upper Holloway (Head Office)<br/>London, N19 5AD

          <p class="govuk-body govuk-!-margin-top-1">
            <a href="#map">Show in map</a>
          </p>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">
      Opening hours
    </h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border app--compact-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Monday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Tuesday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Wednesday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Thursday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Friday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l" id="map">
      Address map
    </h2>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.75738217265!2d-0.13753328452013894!3d51.554347715090955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b012aa27f7b%3A0x402c48e038000adb!2s147%20Brecknock%20Rd%2C%20London%20N19%205AD!5e0!3m2!1sen!2suk!4v1626951389046!5m2!1sen!2suk" width="100%" height="450" style="border:0;margin-bottom:20px;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

{% endblock %}
