{% extends "layout.html" %}

{% block pageTitle %}
Find free legal advice
{% endblock %}

{% block content %}

<div class="container govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Find free legal advice
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Search for free legal advice in England and Wales. Some organisations cover all areas of law, others offer specialist advice.</p>
  </div>

  <div class="govuk-grid-column-full">
    <form action="/v5/results" class="" novalidate="">
      <div class="govuk-form-group" id="fala_questions">

        <div class="govuk-form-group govuk-form-group" id="field-postcode">


          <div class="form-group-label">
            <label class="govuk-label--s" for="id_postcode">Enter your local area</label>
          </div>


          <span class="govuk-hint" id="field-description-postcode">For example, postcode, town or city</span>


          <div class="form-row ">


            <input type="text" name="postcode" value="{{ data['postcode'] }}" class="govuk-input govuk-!-width-one-third " maxlength="30"
                   id="id_postcode">


          </div>

        </div>


        {{ govukCheckboxes({
        name: "available",
        classes: "govuk-checkboxes--small",
        fieldset: {
        legend: {
        text: "Organisations with availability",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s govuk-visually-hidden"
        }
        },
        items: [
        {
        value: "true",
        text: "Only show organisations with availability for appointments",
        id: "category-crime",
        checked: checked("available", "true")
        }
        ]
        }) }}
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          {{ govukCheckboxes({
          name: "category",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Select areas of law for advice",
          classes: "govuk-fieldset__legend--m"
          }
          },
          hint: {
          text: "Choose more than one, or none if you don’t know which area your problem is in."
          },
          items: [
          {
          value: "Crime and fines",
          text: "Crime and fines",
          id: "category-crime",
          checked: checked("category", "Crime and fines")
          },
          {
          value: "Employment",
          text: "Employment",
          id: "category-employment",
          checked: checked("category", "Employment")
          },
          {
          value: "Family and personal",
          text: "Family and personal",
          id: "category-family",
          checked: checked("category", "Family and personal")
          },
          {
          value: "Health and social care",
          text: "Health and social care",
          id: "category-health",
          checked: checked("category", "Health and social care")
          },
          {
          value: "Housing and homelessness",
          text: "Housing and homelessness",
          id: "category-housing",
          checked: checked("category", "Housing and homelessness")
          },
          {
          value: "Money and debt",
          text: "Money and debt",
          id: "category-money",
          checked: checked("category", "Money and debt")
          }
          ]
          }) }}
        </div>

        <div class="govuk-grid-column-one-half">
          {{ govukCheckboxes({
          name: "person",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Select specialist groups",
          classes: "govuk-fieldset__legend--m"
          }
          },
          hint: {
          text: "You may be able to get specialist advice if you are in one of these groups."
          },
          items: [
          {
          value: "Children",
          text: "Children",
          id: "person-children",
          checked: checked("person", "Children")
          },
          {
          value: "Disabilities",
          text: "Disabilities",
          id: "person-disabilities",
          checked: checked("person", "Disabilities")
          },
          {
          value: "Ex-offenders",
          text: "Ex-offenders",
          id: "person-ex-offenders",
          checked: checked("person", "Ex-offenders")
          },
          {
          value: "Homeless",
          text: "Homeless",
          id: "person-homeless",
          checked: checked("person", "Homeless")
          },
          {
          value: "Single parents",
          text: "Single parents",
          id: "person-single-parents",
          checked: checked("person", "Single parents")
          },
          {
          value: "Unemployed",
          text: "Unemployed",
          id: "person-unemployed",
          checked: checked("person", "Unemployed")
          }
          ]
          }) }}
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="govuk-button" id="searchButton" name="search">Search for advice</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
