{% extends "layout.html" %}

{% set serviceName %}
Find relevant information about legal problems
{% endset %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block content %}

<div class="container govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="app--styled-cse">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <div class="app--js-enabled-show">
      <p class="govuk-body-l">Enter the word or phrase that best describes your problem. You can also click on a common search term below.</p>
      <p class="govuk-body">Your search results will only be from the government and organisations that have been carefully chosen to give you the most relevant information, for example, Citizens Advice, Shelter and the Money Advice Service. All results are advert-free.</p>
    </div>

    <noscript>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          JavaScript is either disabled or not supported by your browser. To use this service, enable JavaScript by changing your browser settings and reloading this page.
        </strong>
      </div>

      <p class="govuk-body">You can visit the following organisations as an alternative:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.citizensadvice.org.uk" rel="external">Citizen’s Advice</a></li>
        <li><a href="https://www.advicenow.org.uk" rel="external">AdviceNow</a></li>
      </ul>
    </noscript>

    <script async src="https://cse.google.com/cse.js?cx=35494a494c787b70b"></script>
    <div class="gcse-search" data-personalizedAds="false"></div>

    <div class="app--js-enabled-show">
      <h2 class="govuk-heading-m govuk-!-margin-top-5">Common search terms</h2>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Benefits</p>

      <ul class="govuk-list app--query-examples">
        <li>
          <a href="#gsc.q=housing%20benefit">housing benefit</a>
        </li>
        <li>
          <a href="#gsc.q=child%20benefit">child benefit</a>
        </li>
        <li>
          <a href="#gsc.q=benefit%20cap">benefit cap</a>
        </li>
        <li>
          <a href="#gsc.q=challenging%20benefit%20decisions">challenging benefit decisions</a>
        </li>
        <li>
          <a href="#gsc.q=appealing%20benefit%20sanctions">appealing benefit sanctions</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Debt</p>

      <ul class="govuk-list app--query-examples">
        <li>
          <a href="#gsc.q=debt%20advice">debt advice</a>
        </li>
        <li>
          <a href="#gsc.q=debt%20relief">debt relief</a>
        </li>
        <li>
          <a href="#gsc.q=bankruptcy">bankruptcy</a>
        </li>
        <li>
          <a href="#gsc.q=loan%20sharks">loan sharks</a>
        </li>
        <li>
          <a href="#gsc.q=court%20letters%20for%20debt ">court letters for debt</a>
        </li>
        <li>
          <a href="#gsc.q=demands%20for%20debt%20repayments">demands for debt repayments</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Employment</p>

      <ul class="govuk-list app--query-examples">
        <li>
          <a href="#gsc.q=pension%20disputes">pension disputes</a>
        </li>
        <li>
          <a href="#gsc.q=unfair%20dismissal">unfair dismissal</a>
        </li>
        <li>
          <a href="#gsc.q=discrimination%20at%20work">discrimination at work</a>
        </li>
        <li>
          <a href="#gsc.q=harassment">harassment</a>
        </li>
        <li>
          <a href="#gsc.q=working%20conditions">working conditions</a>
        </li>
        <li>
          <a href="#gsc.q=reasonable%20adjustments%20for%20disabilities">reasonable adjustments for disabilities</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Housing and homelessness</p>

      <ul class="govuk-list app--query-examples">
        <li>
          <a href="#gsc.q=estate%20agent%20and%20landlord%20disputes">estate agent and landlord disputes</a>
        </li>
        <li>
          <a href="#gsc.q=housing%20repairs">housing repairs</a>
        </li>
        <li>
          <a href="#gsc.q=rent%20arrears">rent arrears</a>
        </li>
        <li>
          <a href="#gsc.q=eviction">eviction</a>
        </li>
        <li>
          <a href="#gsc.q=being%20made%20homeless">being made homeless</a>
        </li>
        <li>
          <a href="#gsc.q=housing%20ombudsman">housing ombudsman</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
