// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.app--results-item-box {
  border: 1px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(3);
}

.app--tag-middle {
  vertical-align: middle;
}

.app--compact-form-group {
  margin-bottom: 1em;
}

.app--compact-summary-list {
  dt, dd {
    font-size: 90%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Google custom search
//
.gsc-control-cse {
  padding-left: 0 !important;
}

.gsc-resultsbox-visible {
  margin-top: 20px;
}

.gs-visibleUrl-breadcrumb {
  visibility: hidden;
}

a.gs-title {
  @include govuk-link-common;

  text-decoration: underline !important;
  font-size: 19px !important;

  b { font-size: 19px !important; }
}

.gsc-table-cell-snippet-close {
  @extend .govuk-body;
  margin-bottom: 10px;
  font-size: 16px !important;
}

.gsc-cursor {
  font-size: 16px !important;
}

.gsc-cursor-box {
  padding-top: 20px;
  padding-bottom: 15px;
}

.gsc-cursor-page {
  border: 1px solid #b1b4b6;
  padding: 5px;
}

.gcsc-more-maybe-branding-root {
  display: none !important;
}

// For internal test purposes we hide the ads
.gsc-adBlock {
  display: none !important;
}
