{% extends "layout.html" %}

{% block pageTitle %}
Organisation details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/v2/results">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Organisation details</span>

      Back On Track Housing

      <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-3 app--tag-middle">
        Available
      </strong>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="border-right: 1px solid #ccc;">
    <h2 class="govuk-heading-l">
      About us
    </h2>

    <p class="govuk-body">
      Back on Track Housing is a charity organisation which aims to support vulnerable person/family prior to and on
      release to prevent homelessness, the chain of cycles of homelessness and re-offending among who are not eligible
      under the Housing Act. We provide hand-holding services to bridge the gap and relieve poverty among homeless and
      vulnerable person. We seek to help these vulnerable family and young single adult to build a new life by find
      suitable and sustainable accommodation through private landlords that accept Housing benefit.
    </p>

    <h2 class="govuk-heading-l">
      Services offered
    </h2>

    <p class="govuk-body">
      Advice, Practical help.
    </p>

    <h2 class="govuk-heading-l">
      Subjects covered
    </h2>

    <p class="govuk-body">
      Education and training, Accommodation, Housing rights.
    </p>

    <h2 class="govuk-heading-l" id="map">
      Address map
    </h2>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.75738217265!2d-0.13753328452013894!3d51.554347715090955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b012aa27f7b%3A0x402c48e038000adb!2s147%20Brecknock%20Rd%2C%20London%20N19%205AD!5e0!3m2!1sen!2suk!4v1626951389046!5m2!1sen!2suk" width="100%" height="450" style="border:0;margin-bottom:20px;" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Contact details
    </h2>

    <p class="govuk-body">☎ 020 7267 7077</p>

    <p class="govuk-body">
      147 Brecknock Road, Upper Holloway (Head Office)<br/>London, N19 5AD
    </p>

    <p class="govuk-body">
      <a href="#map">Show in map</a>
    </p>

    <p class="govuk-body">
      <a href="https://backontrackhousing.co.uk" target="_blank" rel="nofollow noreferrer">Visit website</a>
    </p>

    <p class="govuk-body"><a href="mailto:admin@backontrackhousing.co.uk">Send an email</a></p>

    <h3 class="govuk-heading-m">
      Opening hours
    </h3>

    <dl class="govuk-summary-list govuk-summary-list--no-border app--compact-summary-list govuk-!-margin-bottom-2">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Monday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Tuesday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Wednesday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Thursday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Friday
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          9am - 6pm
        </dd>
      </div>
    </dl>

    <button class="govuk-button">Book an appointment</button>

    <h3 class="govuk-heading-m">
      More actions
    </h3>

    <p class="govuk-body"><a href="">Save to favourites</a></p>

    <p class="govuk-body"><a href="javascript:window.print()">Print this page</a></p>
  </div>
</div>

{% endblock %}
