{% extends "layout.html" %}

{% block pageTitle %}
Find free legal advice
{% endblock %}

{% block content %}

<div class="container govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Find free legal advice
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Search for free legal advice in England and Wales.</p>
  </div>

  <div class="govuk-grid-column-full">
    <form action="/v3/results" class="" novalidate="">
      <div class="govuk-form-group" id="fala_questions">

        <div class="govuk-form-group govuk-form-group" id="field-postcode">


          <div class="form-group-label">
            <label class="govuk-label" for="id_postcode">Postcode, town or city</label>
          </div>


          <span class="govuk-hint" id="field-description-postcode">For example, <span class="notranslate"
                                                                                      translate="no">SW1H 9AJ</span></span>


          <div class="form-row ">


            <input type="text" name="postcode" value="{{ data['postcode'] }}" class="govuk-input govuk-!-width-one-third " maxlength="30"
                   id="id_postcode">


          </div>

        </div>


        {{ govukCheckboxes({
        name: "available",
        classes: "govuk-checkboxes--small",
        fieldset: {
        legend: {
        text: "Organisations with availability",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s govuk-visually-hidden"
        }
        },
        items: [
        {
        value: "true",
        text: "Only show organisations with availability for appointments",
        id: "category-crime",
        checked: checked("available", "true")
        }
        ]
        }) }}
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          {{ govukCheckboxes({
          name: "category",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Filter by area of law",
          classes: "govuk-fieldset__legend--m"
          }
          },
          hint: {
          text: "Select all that apply"
          },
          items: [
          {
          value: "Crime",
          text: "Crime",
          id: "category-crime",
          checked: checked("category", "Crime")
          },
          {
          value: "Debt",
          text: "Debt",
          id: "category-debt",
          checked: checked("category", "Debt")
          },
          {
          value: "Discrimination",
          text: "Discrimination",
          id: "category-discrimination",
          checked: checked("category", "Discrimination")
          },
          {
          value: "Housing",
          text: "Housing",
          id: "category-housing",
          checked: checked("category", "Housing")
          },
          {
          value: "Mental health",
          text: "Mental health",
          id: "category-mental-health",
          checked: checked("category", "Mental health")
          },
          {
          value: "Welfare benefits",
          text: "Welfare benefits",
          id: "category-welfare-benefits",
          checked: checked("category", "Welfare benefits")
          }
          ]
          }) }}
        </div>

        <div class="govuk-grid-column-one-half">
          {{ govukCheckboxes({
          name: "person",
          classes: "govuk-checkboxes--small",
          fieldset: {
          legend: {
          text: "Filter by person",
          classes: "govuk-fieldset__legend--m"
          }
          },
          hint: {
          text: "Select all that apply"
          },
          items: [
          {
          value: "Alcohol problems",
          text: "Alcohol problems",
          id: "person-alcohol-problems",
          checked: checked("person", "Alcohol problems")
          },
          {
          value: "Children",
          text: "Children",
          id: "person-children",
          checked: checked("person", "Children")
          },
          {
          value: "Disabilities",
          text: "Disabilities",
          id: "person-disabilities",
          checked: checked("person", "Disabilities")
          },
          {
          value: "Drug users",
          text: "Drug users",
          id: "person-drug-users",
          checked: checked("person", "Drug users")
          },
          {
          value: "Homeless",
          text: "Homeless",
          id: "person-homeless",
          checked: checked("person", "Homeless")
          },
          {
          value: "Single parents",
          text: "Single parents",
          id: "person-single-parents",
          checked: checked("person", "Single parents")
          }
          ]
          }) }}
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="govuk-button" id="searchButton" name="search">Search for advice</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
