{% extends "layout.html" %}

{% block pageTitle %}
Contact details
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="/v3/contact/level">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Contact details</span>
      Back On Track Housing
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Based on your answers, the following are the recommended contact details for this organisation.</p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="mailto:admin@backontrackhousing.co.uk">admin@backontrackhousing.co.uk</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
          020 7267 7077
        </dd>
      </div>
    </dl>
  </div>
</div>

{% endblock %}
