
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-l">Search directory of support organisations</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v1">Prototype v1</a>
        </li>
        <li>
          <a href="/v2">Prototype v2 (availability / booking)</a>
        </li>
        <li>
          <a href="/v3">Prototype v3 (contact / triage)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Custom google search</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/google/v1">Prototype v1 (unstyled)</a>
        </li>
        <li>
          <a href="/google/v2">Prototype v2 (styled)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
